{% extends "databaseadmin/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="header">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <h2>City of Tucson NewsNet Article List:</h2>
        </div> 
    </nav>
</header>

   <div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create or Update NewsNet Articles</legend>
            {{ form|crispy }}
        </fieldset>
        <div>
            <button class="btn btn-secondary btn-sm mt-1 mb-1" type="submit">Save</button>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'article-list' %}">Cancel</a>
        </div>
    </form>
   </div>
{% endblock content %}